<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
tr.style1 {
	background-color: #aabb88;
}

tr.style2 {
	background-color: #7766bb;
}
</style>
</head>
<body>
	商品列表

	<div th:if="${#lists.isEmpty(prdList)}">没有任何商品信息。</div>

	<table th:if="${not #lists.isEmpty(prdList)}">
		<thead>
			<tr>
				<th>序号</th>
				<th>编号</th>
				<th>名称</th>
				<th>类别</th>
				<th>描述</th>
				<th>价格</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prd,status:${prdList}"
				th:class="${status.even}?'style1':'style2'">
				<td th:text="${status.count}">0</td>
				<td th:text="${prd.productId}">0</td>
				<td th:text="${prd.productName}">name</td>
				<td th:switch="${prd.typeId}">
				  <span th:case="1">Book</span> 
				  <span	th:case="2">Video</span> 
				  <span th:case="3">DVD</span> 
				  <span	th:case="4">CD</span> 
				  <span th:case="*">Other</span>
				</td>
				<td th:text="${prd.desc}">desc</td>
				<td th:text="${prd.price}">0</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="~{footer::page_footer('葡萄',23.5)}"></div>
</body>
</html>